importMethodsFrom(AnnotationDbi, as.data.frame, colnames, sample)
importMethodsFrom(Biostrings, matchPattern, reverseComplement)
importMethodsFrom(IRanges, as.vector, cbind, "colnames<-", end, findOverlaps, "%in%", lapply, as.matrix, merge, nearest, order, paste, rbind, rep.int, rownames, space, start, sub, table, unique, unlist)
importMethodsFrom(multtest, plot)
importFrom(ChIPpeakAnno, toGRanges)
importFrom(Biostrings, readDNAStringSet)
importFrom(graphics, hist, points)
importFrom(IRanges, IRanges)
importFrom(BiocGenerics, cbind, rbind, order, paste, rep.int, table)
importFrom(stats, binom.test, fisher.test)
importFrom(utils, read.table, write.table)
importFrom(multtest, mt.rawp2adjp)
import(BSgenome)
import(BSgenome.Celegans.UCSC.ce2)
export(buildREmap, assignSeq2REsite, binom.test.REDseq, compareREDseq,  distanceHistSeq2RE, summarizeByRE, plotCutDistribution,summarizeBySeq)
